@import url('https://fonts.googleapis.com/css?family=Play');

/* Styles for header*/
.header{
	display: flex;
  justify-content: center;	
	position: fixed;
	width: 100%;				
	min-height: 150px;	
	color: white;
	background-color: #71b1c1;	
	font-family: 'Play';
	background: radial-gradient(circle, #c0e4ed 1%, #81cde0 30%, #71b1c1 60%);
	z-index: 20;
}

#Layer_2{
	transform: scale(-1,1);
}

.header-line{		
	height: 1px;
	width: 1050px;
	background-color: #E6952E;
	background: radial-gradient(circle, #E6952E, #e5af68, #71b1c1);
	position: absolute;
	top: 100px;	
}

.side-bar{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;			
}

.logo{  
  text-shadow: 3px 3px 4px black;
  padding: 0.5em 0;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 3px;
  text-decoration: none;
  color: white;
}

a.header-button{
	text-decoration: none;
	border: none;
	cursor: pointer;
	text-align: justify;
	color: white;		
}

a.header-button:active{	
	color: #f0cfa4;		
}

@media all and (max-width: 576px){

.side-bar{min-width: 500px;}

.logo{font-size: 1.9em;}

.header-buttons{font-size: 1em;}

a.header-button{margin: 0 0.1vw;}

a.header-button:hover{text-decoration: underline;}
}

@media all and (min-width: 577px) and (max-width: 767px){

.side-bar{min-width: 570px;}

.logo{font-size: 2.1em;}

.header-buttons{font-size: 1em;}

a.header-button{padding: 13px 2px;
  margin: 0 0.8vw;}

a.header-button:hover{
  background-color: #67a2b1;
  border-radius: 2px;
}

a.header-button:active{
  background-color: #67a2b1;
  color: #f0cfa4;   
}
}

@media all and (min-width: 768px) and (max-width: 991px){

.side-bar{min-width: 900px;}

.logo{font-size: 2.5em;}

.header-buttons{font-size: 1em;}

a.header-button{padding: 10px 15px 9px;
  margin: 0 1vw;}

a.header-button:hover{
  background-color: #67a2b1;
  border-radius: 2px;
}

a.header-button:active{
  background-color: #67a2b1;
  color: #f0cfa4;   
}
}

@media all and (min-width: 992px) and (max-width: 1199px){

.side-bar{min-width: 1100px;}

.logo{font-size: 2.8em;}

.header-buttons{font-size: 1em;}

a.header-button{padding: 10px 20px 7px;
  margin: 0 1.3vw;}

a.header-button:hover{
  background-color: #67a2b1;
  border-radius: 2px;
}

a.header-button:active{
  background-color: #67a2b1;
  color: #f0cfa4;   
}
}

@media all and (min-width: 1200px){

/* Styles for header*/
/*svg{  
  position: relative;
  width: 400px;
  bottom: 0; 
}*/

.side-bar{
  min-width: 1050px;    
}

.logo{
  font-size: 3em; 
}

.header-buttons{
  margin-bottom: 10px;
  font-size: 1.2em;
}

a.header-button{
  padding: 1.2vh 2vw;
  margin: 0 0.5vw;
}

a.header-button:hover{
  background-color: #67a2b1;
  border-radius: 2px;
}

a.header-button:active{
  background-color: #67a2b1;    
}
}