@import url('https://fonts.googleapis.com/css?family=Play');
html, body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  font-size: 18px;
}

/* Styles for sections*/

main {
  display: flex;
  flex: 1 0 auto;
  background-color: #F5F5F5;
}

.container {
  display: flex;
  flex-direction: column;
}

.section {
  border: 1px solid #66CCFF;
  background-color: white;
  font-family: Verdana;
  margin-bottom: 10px;
}

.container-left {
  flex: 4;
  max-width: 1000px;
}

.container-right {
  flex: 2;
  max-width: 500px;
}

.info{
  display: flex;
  flex-direction: column;   
}

.info-main, .section-name{
  padding: 10px 20px;
}

img.main-news, img.image-tranding {
  width: 100%;
  cursor: pointer; 
}

.news-time {
  font-size: 12px;
  color: gray;  
}

.caption, .section-name {
  
  font-family: 'Play';
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.caption {
  cursor: pointer;
  padding: 10px 20px 10px 0;
}

.text {
  font-size: 0.9em;
  padding: 0 20px 10px 0;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.caption:hover {
  color: #2b9ab5;
}

.news, .video {
  display: flex;
  padding: 10px 20px;
  text-align: justify;
  border-bottom: 1px solid #66CCFF;
}

img.image-news {
  width: 200px;
  height: 133px;
  padding: 0 20px 10px 0;  
}

.section-name {
  color: orange;
}

.video {
  font-size: 0.8em;
}

.tranding {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  text-align: justify;
  font-size: 1em;
}

@media all and (min-width: 360px) and (max-width: 767px) {
  main {
    flex-direction: column;
    align-items: center;
  }
  .container-left {
    max-width: 1000px;
    min-width: 200px;
    margin-top: 170px;
  }
  .caption, .section-name {
    font-size: 1.2em;
  }
  .news, .video {
    flex-direction: column;
    align-items: center;
  }
  iframe {
    width: 300px;
  }
}

@media all and (min-width: 767px) and (max-width: 1199px) {
  .container {
    margin-top: 170px;
    padding: 15px;
  }
  .container-left {
    max-width: 1000px;
    min-width: 200px;
  }
  .caption, .section-name {
    font-size: 1.3em;
  }
  .news, .video {
    flex-direction: column;
    align-items: center;
  }
  iframe {
    width: 300px;
  }
  .section-name {
    font-size: 2em;
  }
}

@media all and (min-width: 1200px) {
  .container {
    margin-top: 170px;
    padding: 15px;
  }
  .container-left {
    min-width: 700px;
    margin-left: 10vw;
    margin-right: 15px;
  }
  .container-right {
    min-width: 300px;
    margin-right: 10vw;
  }
  .caption-main {
    font-size: 1.8em;
  }
  .video {
    flex-direction: column;
    align-items: center;
    font-size: 1em;
  }
  iframe {
    max-width: 300px;
  }
  .section-name {
    font-size: 2em;
  }
}
