@import url("https://fonts.googleapis.com/css?family=Play");
html, body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  font-size: 18px;
}

/* Styles for header*/

.header {
  display: flex;
  flex-direction: column;
  max-height: 465px;
  min-height: 400px;
  color: white;
  background-color: #71b1c1;
  font-family: "Play";
  background: radial-gradient(circle, #c0e4ed 1%, #81cde0 30%, #71b1c1 60%);
}

.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4;
}

svg {
  transform: scale(-1, 1);
  max-height: 28vh;
}

.header-quote {
  letter-spacing: 2px;
  line-height: 1.2;
  font-style: italic;
}

.header-line {
  height: 1px;
  width: 100%;
  background-color: #e6952e;
  background: radial-gradient(circle, #e6952e, #e5af68, #71b1c1);
  position: relative;
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
}

.logo {
  text-shadow: 3px 3px 4px black;
  padding: 0.5em 0;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 3px;
  text-decoration: none;
  color: white;
}

a.header-button {
  text-decoration: none;
  border: none;
  cursor: pointer;
  text-align: justify;
  color: white;
}

a.header-button:active {
  color: #f0cfa4;
}

/* Styles for sections*/

main {
  flex: 1 0 auto;
}

.lead-in, .section-content {
  text-align: justify;
  color: black;
  font-family: Verdana;
  text-indent: 30px;
  line-height: 1.1;
}

.section-header {
  height: 40px;
  background: linear-gradient(to right, #eaa043, white);
  padding: 3px 30px;
  color: #155d6f;
  font-family: "Play";
  font-size: 1.7em;
}

.image {
  width: 400px;
  height: 300px;
  border-radius: 10px;
}

#attainments .image, #philosophy .image {
  box-shadow: 10px 20px 50px 0 rgba(0, 0, 0, 0.2);
}

#problems .image, #perspective .image {
  box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.2);
}

.section-inner {
  display: flex;
}

.in-section-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-footer {
  height: 50px;
  width: 175px;
  border: 3px solid #5fabbe;
  background-color: transparent;
  text-align: center;
  margin: 20px 50px;
  cursor: pointer;
}

a#onward {
  font-family: "Play";
  font-size: 1.5em;
  color: #5fabbe;
  text-decoration: none;
  line-height: 1.6;
}

.section-footer:hover {
  transform: scale(1.1);
}

#problems, #perspective {
  text-align: right;
}

/* Styles for slider*/

#slides {
  position: relative;
  padding: 0px;
  margin: 40px 0;
  background-color: #edf0f1;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
  padding: 40px 16px;
  box-sizing: border-box;
}

.slider-quote {
  position: absolute;
  font-size: 20px;
  color: black;
  margin-right: 50px;
  min-width: 300px;
  text-align: justify;
}

.slider-quote-person {
  text-align: right;
}

.slider-image {
  margin-left: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.showing {
  opacity: 1;
  z-index: 2;
}

#slider {
  position: relative;
}

#previous {
  position: absolute;
  top: 40%;
  z-index: 10;   
}

#next{ 
  position: absolute;
  top: 40%;
  z-index: 10;
  right: 0;
}

.controls {
  color: white;
  border: none;
  border-radius: 0 3px 3px 0;
  padding: 10px 0px;
  font-size: 30px;
  cursor: pointer;
  width: 30px;
  background: #333;   
}

.controls:hover {
  background: transparent;
  color: #333;
}

@media all and (min-width: 360px) and (max-width: 767px) {
  /* Styles for header*/
  .header-quote {
    display: none;
  }
  .logo {
    font-size: 2em;
    text-align: center;
  }
  .header-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  a.header-button {
    padding: 5px;
    line-height: 1.3;
  }
}

@media all and (min-width: 577px) and (max-width: 767px) {
  .header-quote {
    text-align: left;
    max-width: 600px;
    font-size: 1em;
    padding-right: 20px;
  }
  .logo {
    font-size: 2.1em;
  }
  a.header-button {
    padding: 5px 4vw;
    line-height: 1.3;
  }
}

@media all and (max-width: 767px) {
  /* Styles for header*/
  .header {
    justify-content: center;
    min-height: 400px;
  }
  .side-bar {
    justify-content: space-between;
  }
  .header-buttons {
    text-align: center;
    font-size: 1em;
    margin: 10px 0;
  }
  a.header-button:hover {
    text-decoration: underline;
  }
  /* Styles for sections*/
  main {
    margin: 20px 5vw;
  }
  .section-header {
    margin: 20px 0;
  }
  .image {
    margin-bottom: 20px;
  }
  .section-inner {
    flex-direction: column;
    align-items: center;
  }
  .in-section-inner {
    align-items: center;
  }
  /* Styles for slider*/
  #slides {
    height: 580px;
  }
  .slide {
    text-align: center;
  }
  .slider-quote {
    bottom: 1vh;
    padding: 10vw 0;
  }
  .slider-image {
    width: 240px;
    height: 300px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  svg {
    max-width: 250px;
    margin: 5px 10vw;
  }
  .header-quote {
    max-width: 700px;
    font-size: 1.1em;
  }
  .logo {
    font-size: 2.5em;
  }
  a.header-button {
    padding: 8px 1.9vw;
  }
  /* Styles for sections*/
  .section-header {
    margin: 20px 0;
  }
  /* Styles for slider*/
  .slider-quote {
    margin-left: 330px;
    top: 10vh;
    padding: 10px;
  }
}

@media all and (min-width: 768px) and (max-width: 1199px) {
  .header {
    justify-content: center;
    min-height: 400px;
  }
  .header-quote {
    text-align: right;
    padding-right: 30px;
  }
  .side-bar {
    justify-content: space-around;
  }
  .header-buttons {
    text-align: center;
    font-size: 1.2em;
    margin: 10px 0 20px;
  }
  a.header-button:hover {
    background-color: #67a2b1;
    border-radius: 2px;
  }
  a.header-button:active {
    background-color: #67a2b1;
    color: #f0cfa4;
  }
  /* Styles for sections*/
  main {
    margin: 20px 5vw;
  }
  #attainments .image, #philosophy .image {
    margin-right: 30px;
  }
  #problems .image, #perspective .image {
    margin-left: 30px;
  }
  .in-section-inner {
    align-items: flex-end;
  }
  #problems div.section-inner, #perspective div.section-inner {
    flex-direction: row-reverse;
  }
  #problems div.in-section-inner, #perspective div.in-section-inner {
    align-items: flex-start;
  }
  /* Styles for slider*/
  #slides {
    height: 450px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  .header-quote {
    max-width: 900px;
    font-size: 1.2em;
  }
  .logo {
    font-size: 2.8em;
  }
  a.header-button {
    padding: 8px 3.5vw;
  }
  /* Styles for sections*/
  .section-header {
    margin: 30px 0;
  }
  /* Styles for slider*/
  .slider-quote {
    margin-left: 350px;
    top: 20vh;
    padding: 5px;
  }
}

@media all and (min-width: 1200px) {
  /* Styles for header*/
  .header {
    justify-content: space-between;
    align-items: center;
    min-height: 450px;
  }
  .header-top {
    margin: 0 20vw;
  }
  svg {
    min-height: 250px;
    min-width: 300px;
    margin-right: 10vw;
  }
  .header-quote {
    text-align: right;
    max-width: 1000px;
    font-size: 1.3em;
  }
  .side-bar {
    justify-content: flex-end;
  }
  .logo {
    font-size: 3em;
  }
  .header-buttons {
    margin-bottom: 0.75em;
    font-size: 1.1em;
  }
  a.header-button {
    padding: 0.6em 1.5em;
    margin: 0 1.5em;
  }
  a.header-button:hover {
    background-color: #67a2b1;
    border-radius: 2px;
  }
  a.header-button:active {
    background-color: #67a2b1;
  }
  /* Styles for sections*/
  main {
    margin: 20px 15vw;
  }
  .section-header {
    margin: 40px 0;
  }
  #attainments .image, #philosophy .image {
    margin-right: 30px;
  }
  #problems .image, #perspective .image {
    margin-left: 30px;
  }
  .section-inner {
    flex-direction: row;
  }
  .in-section-inner {
    align-items: flex-end;
  }
  #problems div.section-inner, #perspective div.section-inner {
    flex-direction: row-reverse;
  }
  #problems div.in-section-inner, #perspective div.in-section-inner {
    align-items: flex-start;
  }
  /* Styles for slider*/
  #slides {
    height: 450px;
  }
  .slider-quote {
    left: 400px;
    top: 20vh;
  }
}
