@import url('https://fonts.googleapis.com/css?family=Play');
/* Styles for header*/

.header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 180px;
  color: white;
  background-color: #71b1c1;
  font-family: 'Play';
  background: radial-gradient(circle, #c0e4ed 1%, #81cde0 30%, #71b1c1 60%);
  z-index: 20;
}

.header-line {
  height: 1px;
  width: 1050px;
  background-color: #E6952E;
  background: radial-gradient(circle, #E6952E, #e5af68, #71b1c1);
  position: absolute;
  top: 110px;
}

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-shadow: 3px 3px 4px black;
  padding: 0.5em 0;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 3px;
  text-decoration: none;
  color: white;
}

a.header-button {
  text-decoration: none;
  border: none;
  cursor: pointer;
  text-align: justify;
  color: white;
}

a.header-button:active {
  color: #f0cfa4;
}

@media all and (min-width: 360px) and (max-width: 576px){
  .side-bar {
    min-width: 360px;
  }
  .logo {
    font-size: 1.9em;
    text-align: center;
  }
  .header-buttons {
    font-size: 1em;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 5px;
  }
  a.header-button {
    padding: 8px 2px;
    margin: 0 0.1vw;
  }
  a.header-button:hover {
    text-decoration: underline;
  }
}

@media all and (min-width: 577px) and (max-width: 767px) {
  .side-bar {
    min-width: 570px;
  }
  .logo {
    font-size: 2.1em;
  }
  .header-buttons {
    font-size: 1em;
    margin-bottom: 13px;
  }
  a.header-button {
    padding: 13px 2px;
    margin: 0 0.8vw;
  }
  a.header-button:hover {
    text-decoration: none;
    background-color: #67a2b1;
    border-radius: 2px;
  }
  a.header-button:active {
    background-color: #67a2b1;
    color: #f0cfa4;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .side-bar {
    min-width: 900px;
  }
  .logo {
    font-size: 2.5em;
  }
  .header-buttons {
    font-size: 1em;
    margin-bottom: 1vh;
  }
  a.header-button {
    padding: 1.5vh 2vw 1vh;
    margin: 0 1vw;
  }
  a.header-button:hover {
    text-decoration: none;
    background-color: #67a2b1;
    border-radius: 2px;
  }
  a.header-button:active {
    background-color: #67a2b1;
    color: #f0cfa4;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  .side-bar {
    min-width: 950px;
  }
  .logo {
    font-size: 2.8em;
  }
  .header-buttons {
    font-size: 1em;
    margin-bottom: 1vh; 
  }
  a.header-button {
    padding: 1.5vh 2vw 1vh;
    margin: 0 1.3vw;
  }
  a.header-button:hover {
    text-decoration: none;
    background-color: #67a2b1;
    border-radius: 2px;
  }
  a.header-button:active {
    background-color: #67a2b1;
    color: #f0cfa4;
  }
}

@media all and (min-width: 1200px) {  
  .side-bar {
    min-width: 1000px;
  }
  .logo {
    font-size: 3em;
  }
  .header-buttons {
    margin-bottom: 1.8vh;
    font-size: 1.2em;
  }
  a.header-button {
    padding: 1.5vh 2vw;
    margin: 0 0.5vw;
  }
  a.header-button:hover {
    text-decoration: none;
    background-color: #67a2b1;
    border-radius: 2px;
  }
  a.header-button:active {
    background-color: #67a2b1;
  }
}
