.WGMHjbsd_0{stroke-dasharray:80 82;stroke-dashoffset:81;animation:WGMHjbsd_draw 2000ms ease 0ms forwards;}
.WGMHjbsd_1{stroke-dasharray:239 241;stroke-dashoffset:240;animation:WGMHjbsd_draw 2000ms ease 12ms forwards;}
.WGMHjbsd_2{stroke-dasharray:682 684;stroke-dashoffset:683;animation:WGMHjbsd_draw 2000ms ease 24ms forwards;}
.WGMHjbsd_3{stroke-dasharray:14 16;stroke-dashoffset:15;animation:WGMHjbsd_draw 2000ms ease 36ms forwards;}
.WGMHjbsd_4{stroke-dasharray:14 16;stroke-dashoffset:15;animation:WGMHjbsd_draw 2000ms ease 48ms forwards;}
.WGMHjbsd_5{stroke-dasharray:14 16;stroke-dashoffset:15;animation:WGMHjbsd_draw 2000ms ease 60ms forwards;}
.WGMHjbsd_6{stroke-dasharray:14 16;stroke-dashoffset:15;animation:WGMHjbsd_draw 2000ms ease 72ms forwards;}
.WGMHjbsd_7{stroke-dasharray:14 16;stroke-dashoffset:15;animation:WGMHjbsd_draw 2000ms ease 84ms forwards;}
.WGMHjbsd_8{stroke-dasharray:14 16;stroke-dashoffset:15;animation:WGMHjbsd_draw 2000ms ease 96ms forwards;}
.WGMHjbsd_9{stroke-dasharray:14 16;stroke-dashoffset:15;animation:WGMHjbsd_draw 2000ms ease 108ms forwards;}
.WGMHjbsd_10{stroke-dasharray:14 16;stroke-dashoffset:15;animation:WGMHjbsd_draw 2000ms ease 120ms forwards;}
.WGMHjbsd_11{stroke-dasharray:14 16;stroke-dashoffset:15;animation:WGMHjbsd_draw 2000ms ease 132ms forwards;}
.WGMHjbsd_12{stroke-dasharray:361 363;stroke-dashoffset:362;animation:WGMHjbsd_draw 2000ms ease 144ms forwards;}
.WGMHjbsd_13{stroke-dasharray:46 48;stroke-dashoffset:47;animation:WGMHjbsd_draw 2000ms ease 156ms forwards;}
.WGMHjbsd_14{stroke-dasharray:120 122;stroke-dashoffset:121;animation:WGMHjbsd_draw 2000ms ease 168ms forwards;}
.WGMHjbsd_15{stroke-dasharray:47 49;stroke-dashoffset:48;animation:WGMHjbsd_draw 2000ms ease 180ms forwards;}
.WGMHjbsd_16{stroke-dasharray:47 49;stroke-dashoffset:48;animation:WGMHjbsd_draw 2000ms ease 192ms forwards;}
.WGMHjbsd_17{stroke-dasharray:47 49;stroke-dashoffset:48;animation:WGMHjbsd_draw 2000ms ease 204ms forwards;}
.WGMHjbsd_18{stroke-dasharray:47 49;stroke-dashoffset:48;animation:WGMHjbsd_draw 2000ms ease 216ms forwards;}
.WGMHjbsd_19{stroke-dasharray:46 48;stroke-dashoffset:47;animation:WGMHjbsd_draw 2000ms ease 228ms forwards;}
.WGMHjbsd_20{stroke-dasharray:47 49;stroke-dashoffset:48;animation:WGMHjbsd_draw 2000ms ease 240ms forwards;}
.WGMHjbsd_21{stroke-dasharray:42 44;stroke-dashoffset:43;animation:WGMHjbsd_draw 2000ms ease 253ms forwards;}
.WGMHjbsd_22{stroke-dasharray:58 60;stroke-dashoffset:59;animation:WGMHjbsd_draw 2000ms ease 265ms forwards;}
.WGMHjbsd_23{stroke-dasharray:22 24;stroke-dashoffset:23;animation:WGMHjbsd_draw 2000ms ease 277ms forwards;}
.WGMHjbsd_24{stroke-dasharray:22 24;stroke-dashoffset:23;animation:WGMHjbsd_draw 2000ms ease 289ms forwards;}
.WGMHjbsd_25{stroke-dasharray:7 9;stroke-dashoffset:8;animation:WGMHjbsd_draw 2000ms ease 301ms forwards;}
.WGMHjbsd_26{stroke-dasharray:8 10;stroke-dashoffset:9;animation:WGMHjbsd_draw 2000ms ease 313ms forwards;}
.WGMHjbsd_27{stroke-dasharray:8 10;stroke-dashoffset:9;animation:WGMHjbsd_draw 2000ms ease 325ms forwards;}
.WGMHjbsd_28{stroke-dasharray:8 10;stroke-dashoffset:9;animation:WGMHjbsd_draw 2000ms ease 337ms forwards;}
.WGMHjbsd_29{stroke-dasharray:8 10;stroke-dashoffset:9;animation:WGMHjbsd_draw 2000ms ease 349ms forwards;}
.WGMHjbsd_30{stroke-dasharray:7 9;stroke-dashoffset:8;animation:WGMHjbsd_draw 2000ms ease 361ms forwards;}
.WGMHjbsd_31{stroke-dasharray:8 10;stroke-dashoffset:9;animation:WGMHjbsd_draw 2000ms ease 373ms forwards;}
.WGMHjbsd_32{stroke-dasharray:8 10;stroke-dashoffset:9;animation:WGMHjbsd_draw 2000ms ease 385ms forwards;}
.WGMHjbsd_33{stroke-dasharray:8 10;stroke-dashoffset:9;animation:WGMHjbsd_draw 2000ms ease 397ms forwards;}
.WGMHjbsd_34{stroke-dasharray:8 10;stroke-dashoffset:9;animation:WGMHjbsd_draw 2000ms ease 409ms forwards;}
.WGMHjbsd_35{stroke-dasharray:8 10;stroke-dashoffset:9;animation:WGMHjbsd_draw 2000ms ease 421ms forwards;}
.WGMHjbsd_36{stroke-dasharray:8 10;stroke-dashoffset:9;animation:WGMHjbsd_draw 2000ms ease 433ms forwards;}
.WGMHjbsd_37{stroke-dasharray:8 10;stroke-dashoffset:9;animation:WGMHjbsd_draw 2000ms ease 445ms forwards;}
.WGMHjbsd_38{stroke-dasharray:7 9;stroke-dashoffset:8;animation:WGMHjbsd_draw 2000ms ease 457ms forwards;}
.WGMHjbsd_39{stroke-dasharray:8 10;stroke-dashoffset:9;animation:WGMHjbsd_draw 2000ms ease 469ms forwards;}
.WGMHjbsd_40{stroke-dasharray:7 9;stroke-dashoffset:8;animation:WGMHjbsd_draw 2000ms ease 481ms forwards;}
.WGMHjbsd_41{stroke-dasharray:8 10;stroke-dashoffset:9;animation:WGMHjbsd_draw 2000ms ease 493ms forwards;}
.WGMHjbsd_42{stroke-dasharray:7 9;stroke-dashoffset:8;animation:WGMHjbsd_draw 2000ms ease 506ms forwards;}
.WGMHjbsd_43{stroke-dasharray:8 10;stroke-dashoffset:9;animation:WGMHjbsd_draw 2000ms ease 518ms forwards;}
.WGMHjbsd_44{stroke-dasharray:7 9;stroke-dashoffset:8;animation:WGMHjbsd_draw 2000ms ease 530ms forwards;}
.WGMHjbsd_45{stroke-dasharray:7 9;stroke-dashoffset:8;animation:WGMHjbsd_draw 2000ms ease 542ms forwards;}
.WGMHjbsd_46{stroke-dasharray:7 9;stroke-dashoffset:8;animation:WGMHjbsd_draw 2000ms ease 554ms forwards;}
.WGMHjbsd_47{stroke-dasharray:7 9;stroke-dashoffset:8;animation:WGMHjbsd_draw 2000ms ease 566ms forwards;}
.WGMHjbsd_48{stroke-dasharray:7 9;stroke-dashoffset:8;animation:WGMHjbsd_draw 2000ms ease 578ms forwards;}
.WGMHjbsd_49{stroke-dasharray:7 9;stroke-dashoffset:8;animation:WGMHjbsd_draw 2000ms ease 590ms forwards;}
.WGMHjbsd_50{stroke-dasharray:315 317;stroke-dashoffset:316;animation:WGMHjbsd_draw 2000ms ease 602ms forwards;}
.WGMHjbsd_51{stroke-dasharray:120 122;stroke-dashoffset:121;animation:WGMHjbsd_draw 2000ms ease 614ms forwards;}
.WGMHjbsd_52{stroke-dasharray:60 62;stroke-dashoffset:61;animation:WGMHjbsd_draw 2000ms ease 626ms forwards;}
.WGMHjbsd_53{stroke-dasharray:140 142;stroke-dashoffset:141;animation:WGMHjbsd_draw 2000ms ease 638ms forwards;}
.WGMHjbsd_54{stroke-dasharray:51 53;stroke-dashoffset:52;animation:WGMHjbsd_draw 2000ms ease 650ms forwards;}
.WGMHjbsd_55{stroke-dasharray:52 54;stroke-dashoffset:53;animation:WGMHjbsd_draw 2000ms ease 662ms forwards;}
.WGMHjbsd_56{stroke-dasharray:4 6;stroke-dashoffset:5;animation:WGMHjbsd_draw 2000ms ease 674ms forwards;}
.WGMHjbsd_57{stroke-dasharray:32 34;stroke-dashoffset:33;animation:WGMHjbsd_draw 2000ms ease 686ms forwards;}
.WGMHjbsd_58{stroke-dasharray:4 6;stroke-dashoffset:5;animation:WGMHjbsd_draw 2000ms ease 698ms forwards;}
.WGMHjbsd_59{stroke-dasharray:32 34;stroke-dashoffset:33;animation:WGMHjbsd_draw 2000ms ease 710ms forwards;}
.WGMHjbsd_60{stroke-dasharray:4 6;stroke-dashoffset:5;animation:WGMHjbsd_draw 2000ms ease 722ms forwards;}
.WGMHjbsd_61{stroke-dasharray:95 97;stroke-dashoffset:96;animation:WGMHjbsd_draw 2000ms ease 734ms forwards;}
.WGMHjbsd_62{stroke-dasharray:108 110;stroke-dashoffset:109;animation:WGMHjbsd_draw 2000ms ease 746ms forwards;}
.WGMHjbsd_63{stroke-dasharray:49 51;stroke-dashoffset:50;animation:WGMHjbsd_draw 2000ms ease 759ms forwards;}
.WGMHjbsd_64{stroke-dasharray:19 21;stroke-dashoffset:20;animation:WGMHjbsd_draw 2000ms ease 771ms forwards;}
.WGMHjbsd_65{stroke-dasharray:5 7;stroke-dashoffset:6;animation:WGMHjbsd_draw 2000ms ease 783ms forwards;}
.WGMHjbsd_66{stroke-dasharray:76 78;stroke-dashoffset:77;animation:WGMHjbsd_draw 2000ms ease 795ms forwards;}
.WGMHjbsd_67{stroke-dasharray:44 46;stroke-dashoffset:45;animation:WGMHjbsd_draw 2000ms ease 807ms forwards;}
.WGMHjbsd_68{stroke-dasharray:5 7;stroke-dashoffset:6;animation:WGMHjbsd_draw 2000ms ease 819ms forwards;}
.WGMHjbsd_69{stroke-dasharray:5 7;stroke-dashoffset:6;animation:WGMHjbsd_draw 2000ms ease 831ms forwards;}
.WGMHjbsd_70{stroke-dasharray:5 7;stroke-dashoffset:6;animation:WGMHjbsd_draw 2000ms ease 843ms forwards;}
.WGMHjbsd_71{stroke-dasharray:5 7;stroke-dashoffset:6;animation:WGMHjbsd_draw 2000ms ease 855ms forwards;}
.WGMHjbsd_72{stroke-dasharray:7 9;stroke-dashoffset:8;animation:WGMHjbsd_draw 2000ms ease 867ms forwards;}
.WGMHjbsd_73{stroke-dasharray:7 9;stroke-dashoffset:8;animation:WGMHjbsd_draw 2000ms ease 879ms forwards;}
.WGMHjbsd_74{stroke-dasharray:7 9;stroke-dashoffset:8;animation:WGMHjbsd_draw 2000ms ease 891ms forwards;}
.WGMHjbsd_75{stroke-dasharray:7 9;stroke-dashoffset:8;animation:WGMHjbsd_draw 2000ms ease 903ms forwards;}
.WGMHjbsd_76{stroke-dasharray:26 28;stroke-dashoffset:27;animation:WGMHjbsd_draw 2000ms ease 915ms forwards;}
.WGMHjbsd_77{stroke-dasharray:48 50;stroke-dashoffset:49;animation:WGMHjbsd_draw 2000ms ease 927ms forwards;}
.WGMHjbsd_78{stroke-dasharray:26 28;stroke-dashoffset:27;animation:WGMHjbsd_draw 2000ms ease 939ms forwards;}
.WGMHjbsd_79{stroke-dasharray:5 7;stroke-dashoffset:6;animation:WGMHjbsd_draw 2000ms ease 951ms forwards;}
.WGMHjbsd_80{stroke-dasharray:6 8;stroke-dashoffset:7;animation:WGMHjbsd_draw 2000ms ease 963ms forwards;}
.WGMHjbsd_81{stroke-dasharray:6 8;stroke-dashoffset:7;animation:WGMHjbsd_draw 2000ms ease 975ms forwards;}
.WGMHjbsd_82{stroke-dasharray:56 58;stroke-dashoffset:57;animation:WGMHjbsd_draw 2000ms ease 987ms forwards;}
.WGMHjbsd_83{stroke-dasharray:85 87;stroke-dashoffset:86;animation:WGMHjbsd_draw 2000ms ease 1000ms forwards;}
@keyframes WGMHjbsd_draw{100%{stroke-dashoffset:0;}}
@keyframes WGMHjbsd_fade{0%{stroke-opacity:1;}94.44444444444444%{stroke-opacity:1;}100%{stroke-opacity:0;}}

svg{
  transform: scale(-1, 1);
}

#Shape-bulb:hover{
  fill: yellow;  
}

#Shape-questions{ 
  animation: questions 3s infinite linear;
  animation-delay: 3s;  
  transform-origin: 50% 50%;
}

@keyframes questions {
   from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}

#Gear1{
  animation: gear1 3s infinite linear;
  animation-delay: 3s;
  transform-origin: 50% 50%;
}

@keyframes gear1 {
   from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

#Gear2{  
  animation: gear2 3s infinite linear;
  animation-delay: 3s;
  transform-origin: 50% 50%;  
}

@keyframes gear2 {
   from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}